@charset "UTF-8";

@media screen and (max-width: 768px) {
    
:root {
    --bege: #F2EFC4;
    --dourado: #D9B036;
    --marromclaro: #A67924;
    --marromescuro: #8C5C20;
    --vinho: #401801;
}

*{
    padding: 0px;
    margin: 0px;
}

body, html{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(../imagens/gbz-capa.jpg);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}

header > img.logo{
    width: 60px;
    display: block;
    margin: auto;
}


nav {
    background-color: #401801;
    height: 50px;
    text-align: center;
    letter-spacing: 2px;
    font-weight: bolder;
    font-size:  larger;
}

nav > a {
    text-decoration: none;
    color: #D9B036;   
    display: inline;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.281);
}

nav > a:hover{
    text-decoration: underline;
    color: #A67924;
    padding: 10px;
    transition-duration: 1s;
}

main{
    margin: 5px;
    padding: 5px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.485);
    color: #D9B036;
    width: 70vw;
    margin: auto;
    letter-spacing: 2px;
}

h1, h2 {
    color: aliceblue;
}

section > img.quemsao{
    width: 100%;
    height: 100%;
    display: block ;
    border-radius: 10px;
}


}

