@charset "UTF-8";

@media screen and (max-width: 768px) {
    
:root {
    --bege: #F2EFC4;
    --dourado: #D9B036;
    --marromclaro: #A67924;
    --marromescuro: #8C5C20;
    --vinho: #401801;
}

*{
    padding: 0px;
    margin: 0px;
}

body, html{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(../imagens/gbz-capa.jpg);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}

header > img.logo{
    width: 40px;
}

main{
    margin: 5px;
    padding: 5px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.485);
    color: #D9B036;
    width: 600px;
    margin: auto;
}

section > img.quemsao{
    width: 100%;
    height: 70vh;
    display: block ;
    border-radius: 40px;
    
}


}

